@import "../../assets/variables.scss";

.Ticket {
  position: relative;

  border-radius: 6px;

  width: 462px;
  min-height: 184px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba($color: #000000, $alpha: 0.1);

  &-img-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &-info {
    display: inline-block;
    margin-top: 56px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &-price {
    position: absolute;
    top: 25px;
    left: 20px;

    font-size: 24px;
    color: #2196f3;

    font-weight: 500;
  }
}
