.App {
  display: flex;
  flex-direction: column;

  width: 768px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &-logo {
    margin-right: auto;
    margin-left: auto;

    margin-top: 50px;
    margin-bottom: 50px;
  }

  &-main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  &-wrapper {
    min-width: 502px;
    margin-left: 20px;
  }

  &-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);

    overflow: hidden;
  }
}
